<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/imagem/apple-touch-icon.png" type="lohgo">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="descripition" content="academia muay thai">
    <meta name="Keywords" content=" boxe, arte marciais, academia de lutas, ct, treinamento, personal, boxe tailandes, muay thay">
    <title>Thai Boxing Warriors</title>
</head>
<body>
  <!--header-->
    <header class="header_navIndex" id="inicio">
              
              <nav class="menu_navIndex">
                <div class="logo">
                  <img class="logoImg" src="/static/imagem/logo thai warrious.jpg" alt="logo tipo">
                  <span class="span_index">Thai Boxing Warriors</span>
                </div>  
                <div class="menu_nav" id="menu_index">
                    <ul class="lista_menu_index_lu">
                        <li class="list_menu_index"><a href="#inicio">Home</a></li>
                        <li class="list_menu_index"><a href="#contatos">Contato</a></li>
                        <li class="list_menu_index"><a href="">Galeria</a></li>
                        <li class="list_menu_index"><a href="#academia">Localização</a></li>
                    </ul>
                </div>
            </nav>
            
            <div class="galeria_index">
                <div class="card" style="width: 8rem;">
                    <img class="img_card" src="/static/imagem/Wallace Paixão.jpg" class="card-img-top" alt="Personal">
                    <div class="card-body">
                      <h5 class="card-title">Personal Fight</h5>
                      <p class="card-text">Ceo e Professor de Muaythai, grau preto   </p>
                      <a href="#" class="btn btn-primary">Conheça mais</a>
                    </div>
                  </div>
                  <div class="card" style="width:8rem;">
                    <img class="img_card" src="/static/imagem/eqip val1.webp" class="card-img-top" alt="Equipe val 1">
                    <div class="card-body">
                      <h5 class="card-title">Equipe Valqueire 1</h5>
                      <p class="card-text"> Treinos ocorrem no Valqueire tennis clube as 19:00 e 21:00
                         as segundas, quartas e sexta feira </p>
                      <a href="#" class="btn btn-primary">Conheça mais</a>
                    </div>
                  </div>
                  <div class="card" style="width: 8rem;">
                    <img class="img_card" src="/static/imagem/equipe val2.jpg" class="card-img-top" alt="equipe val2">
                    <div class="card-body">
                      <h5 class="card-title">Equipe Valqueire 2</h5>
                      <p class="card-text">Treinos ocorrem no Gordo Bjj Valqueire as 20:00 as terças e quinta feira</p>
                      <a href="#" class="btn btn-primary">Conheça mais</a>
                    </div>
                  </div>
                  <div  class="card" style="width: 8rem;">
                    <img class="img_card" src="/static/imagem/equip realengo.webp" class="card-img-top" alt="Equipe Realengo">
                    <div class="card-body">
                      <h5 class="card-title">Equipe Realengo</h5>
                      <p class="card-text">Treinos ocorrem na nova equipe fitness as 18:00 as terças e quinta feira</p>
                      <a href="#" class="btn btn-primary">Conheça mais</a>
                    </div>
                  </div>
                  <div class="card" style="width: 8rem;">
                    <img class="img_card" src="/static/imagem/Competicao.webp" class="card-img-top" alt="competicao">
                    <div class="card-body">
                      <h5 class="card-title">Campeonatos</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Conheça mais</a>
                    </div>
                  </div>

            </div>
        
    </header>   
    <!--Hero-->
    <section class="hero" id="luta">
      <header class="hero_conteudo">
        <p class="p1">O esporte conhecido atualmente como 
          Muay Thai, também é conhecido como Boxe
          Tailandês, por ter sua origem na
          Tailândia. Esta arte marcial milenar
          possui por volta de dois mil anos,
          é praticada basicamente por golpes
          em pé, utilizando os punhos, cotovelos, 
          canelas, joelhos e pés.
        </p>
         
      </header>
      <article class="artigo"> 
        <div class="exame">
          <h2 class="hero_h2">sistema de graduação</h2>
        <img class="heroH2_imag" src="/static/imagem/prajied.jpg" alt="prajied" target="_blank"> 
          <h2 class="hero_h2" >exame</h2>
          <img class="heroH2_imag" src="/static/imagem/tribo-1.png" alt="tribo-1">
              
          <h2 class="hero_h2a"><a href="https://www.cnnbrasil.com.br/esportes/muay-thai/" target="_blank">
            regras </a>
          </h2>
          <h2 class="hero_h2a"><a href="https://wbcmuaythai.com.br/agenda/" target="_blank">eventos</a></h2>

        </div>
        
      </article>
    </section>
    <!--vídeo-->
    <section class="video">
      <iframe class="video_youtube" width="560" height="315" src="https://www.youtube.com/embed/xirNPqCotFU?si=Au_
      hobO4K2oGg693&amp;start=25" title="YouTube video player" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
      picture-in-picture; web-share" allowfullscreen></iframe>
      <span class="span_video"> Desde a chegada do Muay Thai ao Brasil
        em 1979, foi adotada uma graduação exclusiva utilizada 
        apenas no país, segundo a CBMT. Antigamente, essa graduação 
        era representada por uma faixa na cintura.
        Atualmente, é utilizada uma corda chamada Kruang (ou Prajied) 
        no braço esquerdo, próximo ao coração, com as mesmas cores 
        definidas em 1979. No Brasil, existe uma hierarquia baseada 
        nos anos de dedicação ao esporte, com cinco tipos de graduação.
        Os alunos iniciam com a graduação branca e progridem até a graduação 
        azul clara ponta azul escura.
        Quando alcançam a graduação azul escura, eles se tornam instrutores 
        autorizados pela CBMT a dar aulas. Em seguida, há o instrutor máster, 
        que atinge a graduação azul escura ponta preta.
        Quando um atleta alcança a graduação preta, ele é denominado professor. 
        Além disso, existem os graus de Mestre e Grão-Mestre.        
      </span>

    </section>
    <!--Academias-->
    <section class="localizacao" id="academia">
      <div class="local">
        <span class="local_map">
          Valqueire tennis clube
        </span>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!
        1d3675.9302741282163!2d-43.36409372540873!3d-22.879033979274638!2
        m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9962f3cf7
        388bd%3A0x550f63c91448f823!2sValqueire%20T%C3%AAnis%20Clube!
        5e0!3m2!1spt-BR!2sbr!4v1702509651025!5m2!1spt-BR!2sbr" 
        width="300" height="300" style="border:0;" allowfullscreen=
        "" loading="lazy" referrerpolicy="no-referrer-when-downgrad
        e"></iframe>
        <p>Rua dos Miosótis, 53 - Vila Valqueire, Rio de Janeiro - RJ, 21330-140</p>
      </div>
      
      <div class="local">
        <span class="local_map">Valqueire2</span>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!
        1d3675.7128471321707!2d-43.373430890370585!3d-22.88706367918242!2m
        3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9962631a411d97
        %3A0xae1178f5ce34c956!2sRua%20Turv%C3%A2nia%2C%20447%20-%20Vila%20
        Valqueire%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2021321-470!5e0!3m2!
        1spt-BR!2sbr!4v1702508619090!5m2!1spt-BR!2sbr" width="300" 
        height="300" style="border:0;" allowfullscreen="" loading=
        "lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Rua Turvânia, 447 - Vila Valqueire, Rio de Janeiro - RJ, 21321-470</p>
      </div>
      

      
      <div class="local">
        <span class="local_map">Realengo</span>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3
        675.932994996853!2d-43.42894229037097!3d-22.878933479188245!2m3!1f0!
        2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9961dfe4de1c25%3A0xf1cdea
        60275815b9!2sAv.%20de%20Santa%20Cruz%2C%20241%20-%20Realengo%2C%20Rio%
        20de%20Janeiro%20-%20RJ%2C%2021710-231!5e0!3m2!1spt-BR!2sbr!4v17025090
        72286!5m2!1spt-BR!2sbr" width="300" height="300" style="border:0;"
         allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when
         -downgrade"></iframe>
         <p>Av. de Santa Cruz, 241 - Realengo, Rio de Janeiro - RJ, 21710-231</p>
      </div>
    </section>
    <!--Footer-->
    <footer class="footer" id="contatos">
      <div class="social" id="contatos">
        <i class="bi bi-instagram"><a href="https://www.instagram.com/stories/thaiboxingwarriors17/3254999164926662326/"
         target="_blank" rel="noopener noreferrer" target="_blank">insta</a></i>
        <i class="bi bi-facebook"><a href="https://www.facebook.com/groups/171842879629863" target="_blank">face</a></i>
        <i class="bi bi-whatsapp"><a href="https://api.whatsapp.com/send?phone=5521972506766" target="_blank">zap</a></i>
      </div>
      <div class="span_footer">  
        <span>Patrocionadores</span>
        <span>Parceiros</span>
        <span>Formação de equipe</span>
      </div>
      
    </footer>
</body>
</html>